* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Roboto',sans-serif;
    color: #fff;
    margin: 0;
}

header {
    background-image: url(mains/arajin.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    padding-top: 15px;
}

.container {
    max-width: 940px;
    margin: auto;
    width: 90%;
}

.title {
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'Playfair Display', sans-serif;
    font-weight: bold;
    margin: 0;
    letter-spacing: 1px;
    text-align: center;
}


.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 155px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-text {
    margin-left: 11px;
    font-size: 30px;
    color: #36b3cd;
    font-weight: 100;
}

.navbar {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-item {
    letter-spacing: 1px;
    text-decoration: none;
    margin-left: 30px;
    color: #fff;
}

.active {
    color: #00e0d0;
}

.navbar-item:active {
    color: #00e0d0;
}

.site-content {
    text-align: center;
    padding-bottom: 195px;
}

.site-title {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 800;
    font-size: 32px;
    word-spacing: 2px;
}

.tile-line {
    margin-bottom: 25px;
}

.site-text {
    margin: auto;
    max-width: 780px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 24px;
    word-spacing: 2px;
    font-weight: 300;
    margin-bottom: 45px;
}

.site-btn {
    text-align: center;
    font-family: 'HammersmithOne', sans-serif;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
    border: 1px solid #00e0d0;
    color: #00e0d0;
    padding: 9px 13px;
    display: inline-block;
}
/*main*/
/*story*/
.story {
    background-color: #fff;
    color: #413d4b;
}

.story {
    margin-top: 82px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 70px;
}

.big-logo {
    margin-left: 65px;
    max-width: 235px;
}

.story-block {
    margin-left: 100px;
}

.story-title {
    text-align: left;
    margin-bottom: 18px;
}

.story-text {
    font-size: 14px;
    line-height: 22px;
    word-spacing: 2px;
    margin: 0;
    margin-bottom: 26px;
}

.story-video {
    background-image: url(mains/erkrord.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.video-block {
    text-align: center;
    padding: 200px 0;
}

.play-img {
    margin-bottom: 26px;
    cursor: pointer;
}

.video-player{
    width: 80%;
    position: absolute;
    left: 10%;
    top: 135%;
    display: none;
}

.close-btn{
    
    padding-top: 0px;
    margin-left: 1150px;
    top: 10px;
    right: 10px;
    width: 30px;
    cursor: pointer;
}

.video-text {
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 1px;
}


/*main-expertise*/
.expertise {
    padding-top: 63px;
    padding-bottom: 70px;
    color: #413d4b;
}

.expertise-title {
    text-align: center;
    margin-bottom: 8px;
}

.expertise-desc {
    font-family: 'Playfair Display', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    margin: 0;
    margin-bottom: 18px;
}

.expertise-title-line {
    margin-bottom: 40px;
}

.features {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.features-item {
    padding-top: 40px;
    flex-basis: 33.33%;
    text-align: center;
}

.features-item:first-child {
    border-bottom: 1px solid #ebebeb;
}

.features-item:nth-child(2) {
    border-bottom: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
}

.features-item:nth-child(3) {
    border-bottom: 1px solid #ebebeb;
}

.features-item:nth-child(5) {
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
}

.features-img {
    margin-bottom: 30px;
}

.features-title {
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    margin: 0;
    margin-bottom: 19px;
}

.features-text {
    font-size: 14px;
    letter-spacing: 0.6px;
    line-height: 22px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

/*main-team*/
.team {
    background-image: url(mains/errord.png);
    padding-bottom: 70px;
    background-repeat: no-repeat;
    background-size: cover;
}

.team-section-title {
    margin-bottom: 8px;
    padding-top: 63px;
}

.team-title-line {
    margin-bottom: 43px;
}

.team-desc {
    font-family: 'Playfair Display', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    margin: 0;
    margin-bottom: 18px;
}

.team-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 67px;
}
.team-item{
    margin-bottom: 20px;
}
.team-card {
    border: 1px solid #77768a;
}

.team-img {
    width: 200px;
    margin-bottom: 16px;
}

.team-title {
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
}

.team-text {
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 20px;
}

.team-invite {
    text-align: center;
}

.team-join {
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 26px;
}

/*main-works*/
.works {
    color: #413d4b;
}

.works-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.works-link {
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    letter-spacing: 0.6px;
    background-image: url(people/next.png);
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 20px;
    color: #413d4b;
}

.works-btn {
    text-align: center;
}

.works-block {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.works-item {
    /*width: 16.66666666666667%; 
    flex-basis: 16,66666666666667%;*/
    flex-grow: 1;
    flex-basis: 0;
    border: 1px white;
    width: 100%;
    height: auto;
    max-width: 300px;
    
}

.works-btn {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

/*main-feedback*/
.feedback {
    background-image: url(mains/chorrord.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 35px;
    padding-bottom: 70px;
    text-align: center;
}

.feedback-block {
    display: inline-block;
    max-width: 780px;
}

.quote {
    font-family: 'Playfair Display', sans-serif;
    font-size: 100px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-bottom: -35px;
}

.feedback-text {
    font-family: 'Playfair Display', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.45px;
    margin: 0;
    margin-bottom: 40px;
}

.author {
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 22px;
    letter-spacing: .7px;
    margin-bottom: 0px;
}

.author-job {
    font-size: 13px;
    line-height: 22px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 45px;
}
.swiper-container {
    height: auto !important;
    padding-bottom: 50px !important;
}

/*main-contact*/
.contact {
    color: #413d4b;
    display: flex;
    justify-content: space-between;
    padding-top: 63px;
    padding-bottom: 70px;
}

.contact-title {
    text-align: unset;
    margin-bottom: 30px;
}

.contact-form {
    max-width: 460px;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.contact-input {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 13px 20px;
    margin-bottom: 21px;
}

.contact-message {
    padding-bottom: 165px;
}

.contact-btn {
    text-align: center;
    width: 120px;
}

.clients {
    max-width: 380px;
    flex-basis: 50%;
}

.client-title {
    text-align: unset;
    margin-bottom: 30px;
}

.clients-block {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 50px;
    grid-column-gap: 80px;
    justify-items: center;
}

.client-img {
    
    text-align: center;
}

/*footer*/
footer {
    background-image: url(mains/hingerord.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 70px;
}

.footer-main {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    align-items: flex-start;
    margin-bottom: 47px;
}

.footer-about {
    max-width: 290px;
    flex-basis: 33.33%;
}

.footer-address {
    max-width: 290px;
    flex-basis: 33.33%;
}

.footer-social {
    max-width: 290px;
    flex-basis: 33.33%;
}

.about-text {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    word-spacing: 0.7px;
    margin: 0;
    margin-top: 20px;
}

.footer-title {
    font-size: 15px;
    text-transform: uppercase;
    line-height: 26px;
    margin-top: 15px;
    font-weight: 800;
    letter-spacing: 0.7px;
    margin-bottom: 25px;
}

.address-text {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    word-spacing: 1px;
    margin: 0;
}

.phone-text {
    text-decoration: none;
    color: #eaeaec;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    word-spacing: 0.7px;
    margin: 0;
}

.address-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 13px;
}

.address-img {
    margin-right: 15px;
}

.social-input {
    display: flex;
    justify-items: center;
}

.subscribe-input {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    margin-right: 5px;
    border: 1px solid #9e97af;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    padding: 9px 20px;
    margin-bottom: 25px;
    letter-spacing: 0.6px;
}

.subscribe-btn {
    border: none;
    background: none;
    text-decoration: none;
    background-color: #a19ab3;
    opacity: .3;
    margin: 0;
    padding: 0;
    background-image: url(details/btn-form.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 45px;
    width: 70px;
}

.social-item {
    margin-right: 5px;
}

.footer-links {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.4px;
    display: block;
    float: left;
}

.footer-link {
    text-decoration: none;
    color: #eaeaec;
    margin-right: 30px;
}

.copyright {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.5px;
    display: block;
    float: right;
}





/*media*/
@media(max-width: 1220px){
    .works-item{
        flex-grow: 0;
    }
}
@media (max-width: 1020px){
    .team-block{
        justify-content: center;
        align-items: center;
    }
    .team-item{
        display: flex;
        flex-basis: 50%;
        justify-content: center;
        margin-bottom: 20px;
    }
    .clients-block {
        grid-column-gap: 40px;
    }
    .big-logo{
        flex-basis: 40%;
        margin-left: 0;
    }
    .story-block{
        flex-basis: 60%;
        margin-left: 0;
    }

    .works-item{
        flex-grow: 1;
        width: 25%;
    }
}

@media (max-width: 900px){
    .site-header{
        margin-bottom: 100px;
    }
    .site-content{
        padding-bottom: 140px;
    }
    .navbar-item {
        margin-left: 15px;
    }
    .clients-block {
        grid-column-gap: 20px;
    }
    .contact{
        flex-direction: column;
        align-items: center;
    }
    .contact-form{
        max-width: 70%;
        flex-basis: 70%;
        width: 75%;
        order: 1;
    }
    .contact-title{
        text-align: center;
    }
    .contact-btn {
        align-self: center;
    }
    .clients-block {
        grid-row-gap: 25px;
    }
    .clients{
        max-width: 70%;
        width: 70%;
        margin-bottom: 60px;
    }
    .client-title{
        text-align: center;
    }


    .footer-main{
        flex-wrap: wrap;
    }
    .footer-about{
        flex-basis: 47%;
        max-width: 47%;
    }
    .footer-address{
        flex-basis: 47%;
        max-width: 47%;
    }
    .footer-social{
        flex-basis: 47%;
        max-width: 47%;
    }

}

@media (max-width: 835px){
    .title{
        font-size: 20px;
    }
    .navbar{
        font-size: 12px;
    }
    .site-title{
        font-size: 28px;
    }
    .site-text{
        font-size: 13px;
    }
    .story-text{
        font-size: 13px;
    }
    .features-item{
        flex-basis: 50%;
    }
    .features-item:first-child {
        border-bottom: 1px solid #ebebeb;
    }
    
    .features-item:nth-child(2) {
        border-bottom: 1px solid #ebebeb;
        border-left: 1px solid #ebebeb;
        border-right: none;
    }
    .features-item:nth-child(3) {
        border-bottom: 1px solid #ebebeb;
        border-right: 1px solid #ebebeb;
    }
    .features-item:nth-child(4) {
        border-bottom: 1px solid #ebebeb;
    }
    
    .features-item:nth-child(5) {
        border-left:  none;
        border-right: 1px solid #ebebeb;
    }
 
    .big-logo{
        flex-basis: 0;
        width: 200px;
    }


    .video-block{
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .quote{
        font-size: 90px;
    }
    .feedback-text{
        font-size: 14px;
    }
    .author{
        font-size: 13px;
    }
    .author-job{
        font-size: 12px;
    }

    .contact-form{
        max-width: 90%;
        flex-basis: 90%;
    }
}

@media (max-width: 735px){

    .site-header{
        flex-direction: column;
        margin-bottom: 70px;
    }
    .navbar-item:first-child{
        margin-left: 0;
    }
    .logo{
        margin-bottom: 20px;
    }

    .big-logo{
        width: 150px;
    }
    .story-block {
        flex-basis: 70%;
    }

    .feedback-text {
        font-size: 13px;
    }
    .footer-main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-about{
        text-align: center;
        max-width: 80%;
        flex-basis: 80%;
        margin-bottom: 30px;
    }
    .footer-address{
        text-align: center;
        max-width: 80%;
        flex-basis: 80%;
        margin-bottom: 30px;
    }
    .footer-social{
        text-align: center;
        max-width: 80%;
        flex-basis: 80%;
    }
    .logo{
        justify-content: center;
    }
    .address-item{
        justify-content: center;
    }

    .footer-links {
        float: unset;
        text-align: center;
        margin-bottom: 20px;
    }
    .footer-link:last-child{
        margin-right: 0;
    }
    .copyright{
        float: unset;
        text-align: center;
    }
    .social-item:last-child{
        margin-right: 0;
    }
    .socilal-links{
        justify-content: center;
    }
    footer{
        padding-bottom: 20px;
    }
}

@media (max-width: 570px){
    .site-header{
        margin-bottom: 40px;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 14px;
    }
    .navbar-item{
        margin: 0;
        margin-bottom: 10px;
    }
    .expertise-desc{
        font-size: 13px;
    }
    .story{
        flex-direction: column;
        align-items: center;
    }
    .big-logo{
        margin-bottom: 30px;
    }
    .story-block{
        text-align: center;
    }
    .story-title{
        text-align: center;
    }

    .team-img{
        width: 200px;
    }

    .features{
        justify-content: center;
    }
    .features-item:nth-child(1n){
        flex-basis: 80%;
        border: none;
        border-bottom: 1px solid #ebebeb;
    }
    .features-item:last-child{
        border: none;
    }

    .feedback-text {
        font-size: 12px;
    }
    .works-item{
        width: 33%;
    }

}


@media (max-width: 470px)
{
    .title{
        font-size: 18px;
    }
    .site-content{
        padding-bottom: 70px;
    }

    .story{
        margin-top: 70px;
    }
    .big-logo {
        width: 130px;
    }
    .expertise{
        padding-bottom: 40px;
    }
    .expertise-title-line{
        margin-bottom: 0;
    }

    .team-block{
        margin-bottom: 20px;
    }
    .team-img{
        width: 220px;
    }
    .works-about{
        flex-direction: column;
        align-items: center;
    }
    .works-link {
        margin-top: 10px;
        font-size: 12px;
    }
    .clients-block{
        grid-template-columns: 1fr;
    }
    .clients{
        max-width: 100%;
        width: 100%;
    }

    .social-input {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .subscribe-input{
        margin-bottom: 10px;
    }

    .works-item{
        width: 50%;
    }

}

@media (max-width: 370px){
    
    .social-item{
        flex-basis: 33%;
        margin: 0;
    }

    .footer-links{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-link{
        margin: 0;
    }
}